<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.diemdanh">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logou1"
        android:label="UIT Check"
        android:roundIcon="@drawable/logou1"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.app.diemdanh.ProfileActivity"
            android:label="Profile Activity">

        </activity>
        <activity
            android:name="com.app.diemdanh.Notification"
            android:label="Notification">

        </activity>
        <activity
            android:name="com.app.diemdanh.ClassActivity"
            android:configChanges="orientation|screenSize"
            android:label="ClassActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.DashboardActivity"
            android:configChanges="orientation|screenSize"

            android:label="DashboardActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.AttendActivity"
            android:configChanges="orientation|screenSize"
            android:label="AttendActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.AttendCreActivity"
            android:configChanges="orientation|screenSize"

            android:label="AttendCreActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.QRCodeActivity"
            android:configChanges="orientation|screenSize"

            android:label="QRCodeActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.StudentListActivity"

            android:label="StudentListActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.SessionListActivity"

            android:label="SessionListActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.AttendDetailActivity"

            android:label="AttendDetailActivity">

        </activity>
        <activity
            android:launchMode = "singleInstance"
            android:name="com.app.diemdanh.LoadingActivity"

            android:label="AttendDetailActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.EnrollActivity"

            android:label="EnrollActivity">

        </activity>
        <activity
            android:name="com.app.diemdanh.SessionAttendDetail"

            android:label="SessionAttendDetail">

        </activity>
        <activity
            android:name="com.app.diemdanh.CreateClassActivity"

            android:label="CreateClassActivity">

        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>